UnitsTests/GlobalUsings.cs
UnitsTests/bin/Debug/net7.0/CoverletSourceRootsMapping
UnitsTests/obj/project.assets.json
UnitsTests/obj/project.nuget.cache
UnitsTests/obj/UnitsTests.csproj.nuget.dgspec.json
UnitsTests/obj/UnitsTests.csproj.nuget.g.props
UnitsTests/obj/UnitsTests.csproj.nuget.g.targets
UnitsTests/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
UnitsTests/obj/Debug/net7.0/UnitsTests.AssemblyInfo.cs
UnitsTests/obj/Debug/net7.0/UnitsTests.AssemblyInfoInputs.cache
UnitsTests/obj/Debug/net7.0/UnitsTests.assets.cache
UnitsTests/obj/Debug/net7.0/UnitsTests.csproj.AssemblyReference.cache
UnitsTests/obj/Debug/net7.0/UnitsTests.GeneratedMSBuildEditorConfig.editorconfig
UnitsTests/obj/Debug/net7.0/UnitsTests.GlobalUsings.g.cs
UnitsTestsConsole/obj/project.assets.json
UnitsTestsConsole/obj/project.nuget.cache
UnitsTestsConsole/obj/UnitsTestsConsole.csproj.nuget.dgspec.json
UnitsTestsConsole/obj/UnitsTestsConsole.csproj.nuget.g.props
UnitsTestsConsole/obj/UnitsTestsConsole.csproj.nuget.g.targets
UnitsTestsConsole/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
UnitsTestsConsole/obj/Debug/net7.0/UnitsTestsConsole.AssemblyInfo.cs
UnitsTestsConsole/obj/Debug/net7.0/UnitsTestsConsole.AssemblyInfoInputs.cache
UnitsTestsConsole/obj/Debug/net7.0/UnitsTestsConsole.assets.cache
UnitsTestsConsole/obj/Debug/net7.0/UnitsTestsConsole.GeneratedMSBuildEditorConfig.editorconfig
UnitsTestsConsole/obj/Debug/net7.0/UnitsTestsConsole.GlobalUsings.g.cs
UnitsTests/bin/Debug/net7.0/Microsoft.TestPlatform.CommunicationUtilities.dll
UnitsTests/bin/Debug/net7.0/Microsoft.TestPlatform.CoreUtilities.dll
UnitsTests/bin/Debug/net7.0/Microsoft.TestPlatform.CrossPlatEngine.dll
UnitsTests/bin/Debug/net7.0/Microsoft.TestPlatform.PlatformAbstractions.dll
UnitsTests/bin/Debug/net7.0/Microsoft.TestPlatform.Utilities.dll
UnitsTests/bin/Debug/net7.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
UnitsTests/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.Common.dll
UnitsTests/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
UnitsTests/bin/Debug/net7.0/Newtonsoft.Json.dll
UnitsTests/bin/Debug/net7.0/NuGet.Frameworks.dll
UnitsTests/bin/Debug/net7.0/testhost.dll
UnitsTests/bin/Debug/net7.0/testhost.exe
UnitsTests/bin/Debug/net7.0/UnitsTests.deps.json
UnitsTests/bin/Debug/net7.0/UnitsTests.dll
UnitsTests/bin/Debug/net7.0/UnitsTests.pdb
UnitsTests/bin/Debug/net7.0/UnitsTests.runtimeconfig.json
UnitsTests/bin/Debug/net7.0/UnitsTestsConsole.deps.json
UnitsTests/bin/Debug/net7.0/UnitsTestsConsole.dll
UnitsTests/bin/Debug/net7.0/UnitsTestsConsole.exe
UnitsTests/bin/Debug/net7.0/UnitsTestsConsole.pdb
UnitsTests/bin/Debug/net7.0/UnitsTestsConsole.runtimeconfig.json
UnitsTests/bin/Debug/net7.0/xunit.abstractions.dll
UnitsTests/bin/Debug/net7.0/xunit.assert.dll
UnitsTests/bin/Debug/net7.0/xunit.core.dll
UnitsTests/bin/Debug/net7.0/xunit.execution.dotnet.dll
UnitsTests/bin/Debug/net7.0/xunit.runner.reporters.netcoreapp10.dll
UnitsTests/bin/Debug/net7.0/xunit.runner.utility.netcoreapp10.dll
UnitsTests/bin/Debug/net7.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
UnitsTests/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnitsTests/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnitsTests/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnitsTests/bin/Debug/net7.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnitsTests/bin/Debug/net7.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnitsTests/bin/Debug/net7.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnitsTests/bin/Debug/net7.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnitsTests/bin/Debug/net7.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnitsTests/bin/Debug/net7.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnitsTests/bin/Debug/net7.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnitsTests/bin/Debug/net7.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnitsTests/bin/Debug/net7.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnitsTests/bin/Debug/net7.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnitsTests/bin/Debug/net7.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnitsTests/bin/Debug/net7.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnitsTests/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnitsTests/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnitsTests/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnitsTests/bin/Debug/net7.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnitsTests/bin/Debug/net7.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnitsTests/bin/Debug/net7.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnitsTests/bin/Debug/net7.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnitsTests/bin/Debug/net7.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnitsTests/bin/Debug/net7.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnitsTests/bin/Debug/net7.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnitsTests/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnitsTests/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnitsTests/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnitsTests/bin/Debug/net7.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnitsTests/bin/Debug/net7.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnitsTests/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnitsTests/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnitsTests/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnitsTests/bin/Debug/net7.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnitsTests/bin/Debug/net7.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnitsTests/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnitsTests/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnitsTests/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnitsTests/bin/Debug/net7.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnitsTests/bin/Debug/net7.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnitsTests/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnitsTests/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnitsTests/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnitsTests/bin/Debug/net7.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnitsTests/bin/Debug/net7.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnitsTests/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnitsTests/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnitsTests/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnitsTests/bin/Debug/net7.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnitsTests/bin/Debug/net7.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnitsTests/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnitsTests/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnitsTests/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnitsTests/bin/Debug/net7.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnitsTests/bin/Debug/net7.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnitsTests/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnitsTests/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnitsTests/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnitsTests/bin/Debug/net7.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnitsTests/bin/Debug/net7.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnitsTests/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnitsTests/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnitsTests/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnitsTests/bin/Debug/net7.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnitsTests/bin/Debug/net7.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnitsTests/obj/Debug/net7.0/UnitsTests.csproj.CopyComplete
UnitsTests/obj/Debug/net7.0/UnitsTests.csproj.CoreCompileInputs.cache
UnitsTests/obj/Debug/net7.0/UnitsTests.csproj.FileListAbsolute.txt
UnitsTests/obj/Debug/net7.0/UnitsTests.dll
UnitsTests/obj/Debug/net7.0/UnitsTests.genruntimeconfig.cache
UnitsTests/obj/Debug/net7.0/UnitsTests.pdb
UnitsTests/obj/Debug/net7.0/ref/UnitsTests.dll
UnitsTests/obj/Debug/net7.0/refint/UnitsTests.dll
UnitsTestsConsole/bin/Debug/net7.0/UnitsTestsConsole.deps.json
UnitsTestsConsole/bin/Debug/net7.0/UnitsTestsConsole.dll
UnitsTestsConsole/bin/Debug/net7.0/UnitsTestsConsole.exe
UnitsTestsConsole/bin/Debug/net7.0/UnitsTestsConsole.pdb
UnitsTestsConsole/bin/Debug/net7.0/UnitsTestsConsole.runtimeconfig.json
UnitsTestsConsole/obj/Debug/net7.0/apphost.exe
UnitsTestsConsole/obj/Debug/net7.0/UnitsTestsConsole.csproj.CoreCompileInputs.cache
UnitsTestsConsole/obj/Debug/net7.0/UnitsTestsConsole.csproj.FileListAbsolute.txt
UnitsTestsConsole/obj/Debug/net7.0/UnitsTestsConsole.dll
UnitsTestsConsole/obj/Debug/net7.0/UnitsTestsConsole.genruntimeconfig.cache
UnitsTestsConsole/obj/Debug/net7.0/UnitsTestsConsole.pdb
UnitsTestsConsole/obj/Debug/net7.0/ref/UnitsTestsConsole.dll
UnitsTestsConsole/obj/Debug/net7.0/refint/UnitsTestsConsole.dll
