UnitsTests/GlobalUsings.cs
UnitsTests/bin/Debug/net7.0/CoverletSourceRootsMapping
UnitsTests/obj/project.assets.json
UnitsTests/obj/project.nuget.cache
UnitsTests/obj/UnitsTests.csproj.nuget.dgspec.json
UnitsTests/obj/UnitsTests.csproj.nuget.g.props
UnitsTests/obj/UnitsTests.csproj.nuget.g.targets
UnitsTests/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
UnitsTests/obj/Debug/net7.0/UnitsTests.AssemblyInfo.cs
UnitsTests/obj/Debug/net7.0/UnitsTests.AssemblyInfoInputs.cache
UnitsTests/obj/Debug/net7.0/UnitsTests.assets.cache
UnitsTests/obj/Debug/net7.0/UnitsTests.csproj.AssemblyReference.cache
UnitsTests/obj/Debug/net7.0/UnitsTests.GeneratedMSBuildEditorConfig.editorconfig
UnitsTests/obj/Debug/net7.0/UnitsTests.GlobalUsings.g.cs
UnitsTestsConsole/obj/project.assets.json
UnitsTestsConsole/obj/project.nuget.cache
UnitsTestsConsole/obj/UnitsTestsConsole.csproj.nuget.dgspec.json
UnitsTestsConsole/obj/UnitsTestsConsole.csproj.nuget.g.props
UnitsTestsConsole/obj/UnitsTestsConsole.csproj.nuget.g.targets
UnitsTestsConsole/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
UnitsTestsConsole/obj/Debug/net7.0/UnitsTestsConsole.AssemblyInfo.cs
UnitsTestsConsole/obj/Debug/net7.0/UnitsTestsConsole.AssemblyInfoInputs.cache
UnitsTestsConsole/obj/Debug/net7.0/UnitsTestsConsole.assets.cache
UnitsTestsConsole/obj/Debug/net7.0/UnitsTestsConsole.GeneratedMSBuildEditorConfig.editorconfig
UnitsTestsConsole/obj/Debug/net7.0/UnitsTestsConsole.GlobalUsings.g.cs
